<div th:fragment="footer">
    <footer class="pt-4 my-md-5 pt-md-5 bg-light">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md">
                <h6><a href="#">Back to top</a></h6>
            </div>
            <div class="col-6 col-md">
                <h5>Contacts</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><b>Email:</b> mbaizhuminova@gmail.com</li>
                    <li class="mb-1"><b>Telegram:</b> @maral_bzhm</li>
                    <li class="mb-1"><b>LinkedIn:</b> linkedin.com/in/maral-baizhuminova</li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>References</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1">Nazarbayev University,</li>
                    <li class="mb-1">Computer science,</li>
                    <li class="mb-1">CSCI-341: Database Systems</li>
                </ul>
            </div>
        </div>
        </div>
    </footer>
</div>